In [21]:
import pandas as pd
import numpy as np
fname_nuclei = 'NoNeighboursNucleiNoNeighbours.csv'
fname_actin = 'NoNeighboursActinwithoutNeighbours.csv' 
fname_QC_classification = 'QC_Classifier_table.csv'

In [22]:
nuclei_table = pd.read_csv(fname_nuclei)
actin_table = pd.read_csv(fname_actin)
QC_classifier_table = pd.read_csv(fname_QC_classification)

In [23]:
nuclei_table['QC_classification'] = QC_classifier_table['class']
actin_table['QC_classification'] = QC_classifier_table['class']

In [24]:
nuclei_table.to_csv(fname_nuclei)
actin_table.to_csv(fname_actin)

0      negative
1      positive
2      positive
3      negative
4      negative
         ...
259    positive
260    positive
261    positive
262    positive
263    positive
Name: QC_classification, Length: 264, dtype: object

In [18]:
QC_classifier_table

     ImageNumber  ObjectNumber     class  class_number
0              1             1  negative             2
1              1             2  positive             1
2              1             3  positive             1
3              1             4  negative             2
4              1             5  negative             2
..           ...           ...       ...           ...
259           51             2  positive             1
260           51             3  positive             1
261           51             4  positive             1
262           51             5  positive             1
263           51             6  positive             1

[264 rows x 4 columns]

In [14]:
set(QC_classifier_table.columns).intersection(set(nuclei_table.columns))

{'ImageNumber', 'ObjectNumber'}